/An[[:space:]]Introduction[[:space:]]to[[:space:]]Modern[[:space:]]Astrophysics[[:space:]]by[[:space:]]Bradley[[:space:]]W.[[:space:]]Carroll,[[:space:]]Dale[[:space:]]A.[[:space:]]Ostlie.pdf filter=lfs diff=lfs merge=lfs -text
/Introductory[[:space:]]Nuclear[[:space:]]Physics[[:space:]]-[[:space:]]Kenneth[[:space:]]Krane.pdf filter=lfs diff=lfs merge=lfs -text
